node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Local deployment records written by the `deploy` tasks
.crowdfunding-deployment.json
.crowdfunding-usdc-deployment.json

# macOS
.DS_Store
